<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="me.tovin.tweettalker"
      android:versionCode="1"
      android:versionName="1.0"
      android:clearTaskOnLaunch="true">
      
      <uses-permission
        android:name="android.permission.INTERNET" /> 
      
    <application 
    android:icon="@drawable/icon" 
    android:label="Tweet Talker" 
    android:name=".TwitterAPI">
        
        <activity 
        android:name=".OAuth" 
        android:label="Tweet Talker" 
        android:configChanges="keyboardHidden|orientation" 
        android:theme="@android:style/Theme.NoTitleBar">
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="callback" android:host="tweettalker" />
			</intent-filter>
       
        </activity>
       
        <activity 
        android:name=".TweetTalker" 
        android:configChanges="keyboardHidden|orientation" 
        android:theme="@android:style/Theme.NoTitleBar">
        </activity>
  
    </application>


</manifest> 